/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

p.index {
    width: 300px;
    background-color: orange;
    -webkit-border-radius: 12px; /* it works on older browsers (mainly chrome) */
    -o-border-radius: 12px;      /* --//-- (opera) */
    border-radius: 12px;
    transform: rotate(14.5deg);

    behavior: url('../PIE.htc');
}

div > p.selectors { /* p is direct div child */
    background-color: orange;
    width: 300px;
    margin: 5px;
    padding: 10px;
}

/*div + p.selectors {*/ /* p is neighbor div child but only first element */
div ~ p.selectors { /* p is neighbor div child, all of them */
  background-color: red;
  width: 300px;
  margin: 5px;
  padding: 10px;
}

input[required] {
    border: 1px solid red;
}

input[type="text"] { /* all inputs with type text */

}

[id^="product-"] {
    color: darkorchid;
}

[src$=".jpg"]:hover {
    border: 10px solid green;
}

[lang|=en] {
    color: blue;
}

[data-filetype="tekst"] {
    color: green;
}

a, a:visited {
    color: blue;
    text-decoration: none;
}

a[href="index.html"] { /* href*="nazwa_strony.pl" - all subpages */
    color: orange;
}

a[data-info~="internal"] {
    font-style: italic;
}

table tr:hover {
    background-color: rgba(200,200,200, 0.7);
}

.example {
    display: none;
}

table tr:hover .example {
    display: block;
}

label {
    padding: 4px;
}

input[type='radio']:checked + label {
    font-weight: bold;
}

input[type="text"] {
    border: solid 1px #CCCCCC;
    border-radius: 4px;
    padding: 4px;
    color: #666666;
    margin: 10px;
}

input[type="text"]:focus {
    border-width: 2px;
    border-color: lightgreen;
    padding: 4px;
    outline: 0;
    color: #111111;
}

[data-tooltip] {
    cursor: help;
    position: relative;
    font-weight: bold;
}

[data-tooltip]:hover { /* IE10 fix, it doesn't work without it */

}

[data-tooltip]:hover:after {
    content: attr(data-tooltip); /*attr - attribute*/
    min-width: 90px;
    background-color: gray;
    opacity: 0.9;
    padding: 12px;
    border-radius: 12px;
    position: absolute;
    top: 0px;
    left: 40px;
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
    color: white;
}

.download:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    content: "";
    background: url("../img/download.jpg") no-repeat 0 0;
    background-size: 90%;
}

.download:hover:before {
    background: url("../img/download_hover.jpg") no-repeat 0 0;
    background-size: 90%;
}

table tr td:first-child {
    font-weight: bold;
    width: 256px;
}

.example span:only-child {
    color: green;
}

.example p:empty {
    border: 1px solid black;
    width: 110px;
    height: 4px;
}

#testing_selector p:not(.without_style) {
    color: green;
}

#testing_selector2 p::first-letter {
    font-size: 2em;
    font-weight: bold;
    font-family: cursive;
    padding-right: 2px;
    color: green;
}

#testing_selector3 p::first-line {
    font-size: 1em;
    font-weight: bold;
    font-family: cursive;
}

input:disabled {
    color: #CCCCCC;
    background-color: #EEEEEE;
}

#showMeFun {
    display: none;
}

#showMeFun:target {
    display: block;
    width: 200px;
    background-color: gray;
    opacity: 0.9;
    padding: 10px;
    border-radius: 10px;
}
